{% extends "::base.html.twig" %}

{% block title %}AppBundle:Locatie:show{% endblock %}
{% block body %}
    <h1>Technicussen</h1>

    <table class="table table-striped table-middle-aligned">
        <thead>
        <tr>
            <th scope="col">Picture</th>
            <th scope="col">Naam</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th scope="col" class="col-lg-2"><i class="fa fa-cogs" aria-hidden="true"></i> Actions</th>
            {% endif %}

        </tr>
        </thead>
        <tbody>

        {% for technicus in technicussen %}
            <tr>
                <td>
                    {% image '@AppBundle/Resources/public/pictures/29cba6d90193a07f183a551e0ac1e1f6.jpeg'
                        filter='jpegoptim' output='/pictures/29cba6d90193a07f183a551e0ac1e1f6.jpeg' %}
                    <img src="{{ asset_url }}" alt="Example"/>
                    {% endimage %}
                </td>

                <td>{{ technicus.username }}</td>

                {% if is_granted('ROLE_ADMIN') %}
                    <td class="col">
                        <div class="item-actions">
                            <a href="{{ path('edit_technicus', {id: technicus.id}) }}" class="btn btn-sm btn-default">
                                <i class="fa fa-edit" aria-hidden="true"></i> Edit
                            </a>

                            <a href="{{ path('delete_technicus', {id: technicus.id}) }}" class="btn btn-sm btn-danger">
                                <i class="fa fa-trash" aria-hidden="true"></i> Delete
                            </a>
                        </div>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center">Geen probleem meldingen gevonden</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


