# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# .idea directory
.idea

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
vendor/doctrine/dbal/lib/vendor/
vendor/doctrine/orm/docs/en/_theme/
vendor/doctrine/orm/lib/vendor/
vendor

wp3/sysmfonywp3/.web-server-pid
wp3/sysmfonywp3/app/config/parameters.yml
wp3/sysmfonywp3/build/
wp3/sysmfonywp3/phpunit.xml
wp3/sysmfonywp3/var/*
!wp3/sysmfonywp3/var/cache
wp3/sysmfonywp3/var/cache/*
!wp3/sysmfonywp3/var/cache/.gitkeep
!wp3/sysmfonywp3/var/logs
wp3/sysmfonywp3/var/logs/*
!wp3/sysmfonywp3/var/logs/.gitkeep
!wp3/sysmfonywp3/var/sessions
wp3/sysmfonywp3/var/sessions/*
!wp3/sysmfonywp3/var/sessions/.gitkeep
!wp3/sysmfonywp3/var/SymfonyRequirements.php
wp3/sysmfonywp3/vendor/
wp3/sysmfonywp3/web/bundles/
