parameters:
    database_host: blackturtle.eu
    database_port: null
    database_name: bramnfx154_webProject
    database_user: bramnfx154_webProject
    database_password: JLr4Zsgkl
    mailer_transport: smtp
    mailer_encryption: tls
    mailer_port: 587
    mailer_host: smtp.sendgrid.net
    mailer_user: apikey
    mailer_password: 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
    secret: ThisTokenIsNotSoSecretChangeIt
